.small-button {
   display: block;
   width: 56px;
   height: 56px;
   border-radius: 13px;
   background-color: $light-gray;

   &__icon {
      fill: $green;
      max-width: 100%;
      max-height: 100%;

      &--with-padding {
         padding: 16px;
      }
   }

   &:hover {
      background-color: $green;

      .small-button__icon {
         fill: $white;
      }
   }

   &:focus {
      outline: 2px solid $dark-gray;
   }
}
